### <font color='white'> Financial Processes Simulation Course <font>

<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="250" height="125" align-text="auto" />


<font color = 'gray'> 

**Team:**
1. [Ivan Arellano Ruelas](https://github.com/IvanArellanoRuelas)<br>
2. [Esteban Márquez Delgado](https://github.com/EstebanMqz)

**Date:** September 21, 2021.

**Professor:** [Oscar David Jaramillo Zuluaga](https://github.com/odjaramilloz)

**Repository**: https://github.com/EstebanMqz/FPS-Hw4_MD-Py_Ex. 
<font>

#### <font color= 'orange'> Assignment 4: *Class 7* <font>

1. As a simple example of a **Monte Carlo** simulation, consider finding the probability of a particular sum of rolling three dice (each dice has values ​​from one to six). In addition, each die has the following characteristics: the first dice is not loaded (uniform distribution, all are equiprobable); the second and third die are loaded based on a binomial distribution with parameters (`n=5, p=0.5` and `n=5, p=0.2`). Find the probability that the resulting sum is 7, 14, or 18. Transcribe it

In [26]:
# Package import
import numpy as np
import pandas as pd
import scipy.stats as st

<span style='color:orange'> 1. Ivan Arellano Ruelas </span><br>

In [27]:
#Solution code of Ivan.
np.random.seed(44)
n = 1000000
unloaded_dice = np.random.randint(1,7,n)
loaded_dice1 = st.binom(n=5 , p=0.5 , loc=1).rvs(size=n)
loaded_dice2 = st.binom(n=5 , p=0.2 , loc=1).rvs(size=n)
sum = unloaded_dice + loaded_dice1 + loaded_dice2

result = [7,14,18]
[len(sum[sum == i])/len(sum) for i in result]

[0.126805, 0.013711, 4e-06]

<span style='color:lightgreen'> 1. Esteban Márquez Delgado </span><br>

In [28]:
#Solution code of Esteban.
np.random.seed(500) #random values set

dice1 = dice1=np.random.randint(low=1, high=7, size=1000000) #Random distribution for discrete values.
dice2 = st.binom(5, 0.5, loc = 1).rvs(size = 1000000) #Binomial distribution, size = # of simulations.
dice3 = st.binom(5, 0.2, loc = 1).rvs(size = 1000000) #Same size 0f experiments.

#List Compression
x = [len(sum[sum == x])/len(sum) for x in [7,14,18]]
print('The probability of obtaining a sum of 7,14 and 18 in the throw of 3 dice is:',
        x, 'for each one respectively.')

The probability of obtaining a sum of 7,14 and 18 in the throw of 3 dice is: [0.126805, 0.013711, 4e-06] for each one respectively.

2. **Simulation**<br>

***Premises for the simulation***:
- Food business that sells drinks and food.
- Business within ITESO.
- Business in central cafe.
- Type of clients (men & women).
- Profitability of 60%.

***Aim***: <br>
Carry out a simulation estimating the average time it will take customers to be served between the hours of 6:30 a.m. and 1 p.m. <br> 
**Determine consumption** (*Analyze assumptions and limitations*).

***Assumptions for the simulation***:<br>
Customer Classification:
- Female = 1 random $\longrightarrow$ < 0.5
- Male = 0 $\longrightarrow$ random $\geq$ 0.5.

Initial conditions:
- All probability distributions will be assumed to be *uniform*.
- Simulation time: 6:30 am - 1:30 pm $\longrightarrow$ T = 7 hours = 25200 sec.
- Arrival time until being attended: Min=5sec, Max=30sec.
- Time it takes customers to be served:
    - Woman: Min = 1 min = 60 sec, Max = 5 min = 300 sec
    - Man: Min = 40 sec, Max = 2 min= 120 sec
- Consumption according to the type of client:
    - Woman: Min = 30 pesos, Max = 100 pesos
    - Man: Min = 20 pesos, Max = 80 pesos

Answer the following questions based on the data from the problem:
1. What were the ***expenses*** of men and women in 5 days of work?
2. What was the ***average consumption*** of men and women?
3. What was the number of ***people served*** per day?
4. What was the average ***service time***?
5. How much was the average ***profit*** of the cafeteria in 5 days of work and its respective profitability?

In [29]:
#Data
d = 5
T =25200
T_at_min = 5; T_at_max = 30
T_woman_min =60; T_woman_max = 300
T_man_min = 40; T_man_max = 120
C_woman_min = 30; C_woman_max = 100
C_man_min = 20; C_man_max = 80

<span style='color:orange'> 2. Ivan Arellano Ruelas </span><br>

In [30]:
#Simulations

sim_t_aten = np.random.uniform(T_at_min,T_at_max)
sim_t_man = np.random.uniform(T_man_min,T_man_max)
sim_t_woman = np.random.uniform(T_woman_min,T_woman_max)
sim_c_man = np.random.uniform(C_man_min,C_man_max)
sim_c_woman = np.random.uniform(C_woman_min,C_woman_max)
print('Attention time simulation:',sim_t_aten,'\n',
      'Simulation of Men time:', sim_t_man,'\n',
      'Simulation of Women time:',sim_t_woman,'\n',
      'Men consumption simulation:',sim_c_man,'\n',
      'Women consumption simulation:',sim_c_woman)

Attention time simulation: 7.039071991167438
 Simulation of Men time: 76.24782160857893
 Simulation of Women time: 98.15699379842069
 Men consumption simulation: 78.37118982825598
 Women consumption simulation: 40.15648138753554

In [31]:
hombres = sim_t_man + sim_t_aten,sim_c_man
mujeres = sim_t_woman +  sim_t_aten,sim_c_woman
hombres , mujeres

((83.28689359974636, 78.37118982825598),
 (105.19606578958812, 40.15648138753554))

In [32]:
Consumption_H = []
Consumption_M = []
counter = 0
People = []
for i in range(d):
    t_total = 0
    counter = 0
    while t_total < T:
        H_M = np.random.rand()
        if H_M >= 0.5:
            time = [np.random.uniform(T_man_min,T_man_max) + np.random.uniform(T_at_min,T_at_max) ,
            np.random.uniform(C_man_min,C_man_max)]
            h = Consumption_H.append(time[1])
        else:
            time = [np.random.uniform(T_woman_min,T_woman_max) + np.random.uniform(T_at_min,T_at_max),
            np.random.uniform(C_woman_min,C_woman_max)]
            m = Consumption_M.append(time[1])
            
        counter += 1
        t_total += time[0]
    People.append(counter)

In [33]:
np.array(Consumption_H).sum(), np.array(Consumption_M).sum(),np.array(Consumption_H).mean(), np.array(Consumption_H).mean(),People, (np.array(t_total)/np.array(People)).mean(),np.array(Consumption_H).sum()*.60 + np.array(Consumption_M).sum()*.60

(20942.931994734143,
 28958.570925575146,
 49.86412379698606,
 49.86412379698606,
 [177, 165, 190, 166, 159],
 147.6099161430545,
 29940.90175218557)

#### *Optimal programming*

In [34]:
def timeH():
    """
    With this function I try to speed up the calculation
    for the simulation of time and human consumption
    """
    return [np.random.uniform(T_man_min,T_man_max) + np.random.uniform(T_at_min,T_at_max),
            np.random.uniform(C_man_min,C_man_max)]
def timeM():
    """
    With this function I try to speed up the calculation
    for the simulation of time and consumption of women
    """
    return [np.random.uniform(T_woman_min,T_woman_max) + np.random.uniform(T_at_min,T_at_max),
            np.random.uniform(C_woman_min,C_woman_max)]

In [35]:
Consumption_H = []
Consumption_M = []
counter = 0
People = []
for i in range(d):
    t_total = 0
    counter = 0 
    while t_total < T:
        H_M = np.random.rand()
        if H_M >= 0.5:
            tiem = timeH()
            h = Consumption_H.append(time[1])
        else: 
            tiem = timeM()
            m = Consumption_M.append(time[1])
            
        counter += 1
        t_total += tiem[0]
    People.append(counter)

In [36]:
np.array(Consumption_H).sum() , np.array(Consumption_M).sum() , np.array(Consumption_H).mean() , np.array(Consumption_M).mean() , People , (np.array(t_total)/np.array(People)).mean() , np.array(Consumption_H).sum()*.60 + np.array(Consumption_M).sum()*.60

(19515.32111392441,
 17044.497196067023,
 41.878371489108176,
 41.87837148910816,
 [171, 183, 179, 170, 170],
 145.8571735531346,
 21935.890985994858)

In [37]:
print(' 1) Men expenses:',np.array(Consumption_H).sum(),' & ','Women expenses:', np.array(Consumption_M).sum(), '\n ',
      '2) Average Male Consumption:',np.array(Consumption_H).mean(),'&','Average Female Consumption:',np.array(Consumption_M).mean(),'\n',
      '3) Number of people per day:', People,'\n',
      '4) Average attention time:',(np.array(t_total)/np.array(People)).mean(),'\n',
      '5 Average Earnings of the Cafe in 5 days:',np.array(Consumption_H).sum()*.60 + np.array(Consumption_M).sum()*.60 )

 1) Men expenses: 19515.32111392441  &  Women expenses: 17044.497196067023
  2) Average Male Consumption: 41.878371489108176 & Average Female Consumption: 41.87837148910816
 3) Number of people per day: [171, 183, 179, 170, 170]
 4) Average attention time: 145.8571735531346
 5 Average Earnings of the Cafe in 5 days: 21935.890985994858

<span style='color:lightgreen'> 2. Esteban Márquez Delgado </span><br>

#### Customer Simulations: Day 1-5

In [38]:
def clients():
    
    MorW = np.random.uniform(size =10000) #10000 Simulations of Uniform Distibution.
    data = pd.DataFrame() #Dataframe creation.
    data['Gender'] = [1 if i<0.5 else 0 for i in MorW] #Saved Customer Gender, 1 woman and 0 men.
    data['Attention_Time'] = np.random.uniform(T_at_min, T_at_max, size=10000) # Saved time in the queue.
    #Saved timeout.
    data['Wait_Time'] = [np.random.uniform(T_man_min, T_man_max) if i==0 else np.random.uniform(T_woman_min, T_woman_max) for i in data['Gender']]
    #Saving of Expenditure by gender.
    data['Expenses'] = [np.random.uniform(C_man_min, C_man_max) if i==0 else np.random.uniform(C_woman_min, C_woman_max) for i in data['Gender']] 
    # Saved time in being scorned.
    data['Total_Time'] = data['Attention_Time'] + data['Wait_Time'] #Total attention time.
    data['Accumulated_Time'] = data['Total_Time'].cumsum() #Accumulated time, max=25,200s.
    data = data[data['Accumulated_Time'] <= T]
    data.index.name = 'No.' # of clients.

    return data

Order = {i:clients() for i in range (d)}

#Order[0], #Order[1], #Order[2], #Order[3] #Simulation of days.
Order[0] #Simulaton of days 1-5.

,Gender,Attention_Time,Wait_Time,Expenses,Total_Time,Accumulated_Time
No.,,,,,,
0,0,24.163999,48.679821,48.038901,72.843820,72.843820
1,0,19.736126,82.637016,37.277765,102.373142,175.216962
2,0,16.957124,112.643482,26.457310,129.600606,304.817568
3,1,17.479166,231.885848,89.782618,249.365014,554.182581
4,1,15.815147,138.121667,91.019217,153.936814,708.119395
...,...,...,...,...,...,...
172,0,18.139232,65.673271,31.480069,83.812503,24732.382120
173,0,14.292802,64.271262,70.265953,78.564065,24810.946184
174,0,28.575849,53.000281,29.118941,81.576130,24892.522314
175,1,6.585152,159.404440,32.105713,165.989592,25058.511906
176,0,5.377325,94.364089,41.133752,99.741413,25158.253319

In [39]:
Order[1]

,Gender,Attention_Time,Wait_Time,Expenses,Total_Time,Accumulated_Time
No.,,,,,,
0,1,19.370400,146.261344,50.449758,165.631744,165.631744
1,0,11.019648,65.677143,55.930876,76.696790,242.328534
2,1,14.087504,110.365148,63.918664,124.452652,366.781187
3,0,14.042755,108.579447,49.612191,122.622202,489.403389
4,1,25.180439,263.613748,65.011474,288.794187,778.197576
...,...,...,...,...,...,...
164,1,28.373242,190.112977,49.335585,218.486218,24815.725593
165,1,8.367957,107.742248,41.233463,116.110204,24931.835797
166,0,18.189625,110.101672,49.468242,128.291297,25060.127094
167,0,5.393205,63.674553,48.972332,69.067759,25129.194853
168,0,20.043036,43.025978,36.603634,63.069014,25192.263867

In [40]:
Order[2]

,Gender,Attention_Time,Wait_Time,Expenses,Total_Time,Accumulated_Time
No.,,,,,,
0,0,11.159292,75.623314,41.837802,86.782606,86.782606
1,0,14.657136,70.164939,26.123282,84.822075,171.604680
2,1,16.937139,194.657252,50.304278,211.594392,383.199072
3,0,26.686565,91.420825,76.795712,118.107390,501.306462
4,0,11.889393,115.870843,32.476241,127.760236,629.066698
...,...,...,...,...,...,...
161,1,26.646585,69.143994,67.773896,95.790579,24747.400628
162,0,28.951739,40.965029,31.693280,69.916768,24817.317396
163,1,26.129166,128.355417,46.349114,154.484582,24971.801978
164,0,29.735971,83.305891,64.077410,113.041862,25084.843840
165,0,29.324472,76.870625,58.715530,106.195096,25191.038936

In [41]:
Order[3]

,Gender,Attention_Time,Wait_Time,Expenses,Total_Time,Accumulated_Time
No.,,,,,,
0,1,28.054182,106.710347,71.032336,134.764529,134.764529
1,0,10.368316,107.385460,20.882309,117.753776,252.518305
2,1,22.080596,240.096868,78.028451,262.177463,514.695768
3,1,23.091033,192.060007,68.831865,215.151040,729.846808
4,0,11.133623,87.054018,79.825971,98.187641,828.034449
...,...,...,...,...,...,...
178,0,15.797491,116.858044,52.547262,132.655535,24682.409118
179,1,24.813502,181.288577,67.747760,206.102079,24888.511197
180,0,10.550543,95.791161,58.463483,106.341704,24994.852901
181,0,17.075474,57.781112,53.186111,74.856586,25069.709487
182,0,11.666259,62.076230,61.851960,73.742490,25143.451977

In [42]:
Order[4]

,Gender,Attention_Time,Wait_Time,Expenses,Total_Time,Accumulated_Time
No.,,,,,,
0,1,5.883422,180.896556,80.011916,186.779978,186.779978
1,0,14.897266,75.222197,71.062932,90.119463,276.899441
2,0,8.933896,67.664498,62.512666,76.598393,353.497834
3,1,11.137582,265.494052,66.029103,276.631634,630.129469
4,1,15.778237,215.807229,67.401536,231.585466,861.714935
...,...,...,...,...,...,...
167,1,14.516060,248.924679,88.985897,263.440739,24486.352675
168,0,9.809366,85.226094,49.875835,95.035460,24581.388135
169,0,17.813667,82.263800,43.227077,100.077466,24681.465601
170,1,29.639705,65.348722,42.043607,94.988427,24776.454028
171,1,14.574105,288.409584,44.083431,302.983688,25079.437717

##### 1. What were the expenses of women and men in 5 days of work?

###### *Women*

In [43]:
women_days=[Order[i][Order[i]['Gender']==1]['Expenses'].sum() for i in range(d)]
women_days

[5489.528616137103,
 5443.375826778318,
 5027.757457535499,
 5731.264508562745,
 4878.252132780918]

In [44]:
np.sum(women_days)

26570.178541794583

###### *Men*

In [45]:
men_days=[Order[i][Order[i]['Gender']==0]['Expenses'].sum() for i in range(d)]
men_days

[4295.929899899226,
 3998.847313334708,
 4104.919631049505,
 4874.693799648869,
 4867.785083964693]

In [46]:
np.sum(men_days)

22142.175727897004

##### 2. What was the average consumption of women and men?

In [47]:
avg_women = np.mean([Order[i][Order[i]['Gender']==1]['Expenses'].mean() for i in range(d)])
avg_men = np.mean([Order[i][Order[i]['Gender']==0]['Expenses'].mean() for i in range(d)])
print('The average consumption of women was:',avg_women.round(2),'.','Men avg. was:', avg_men.round(2), '\n',)

The average consumption of women was: 63.83 . Men avg. was: 49.04

##### 3. What was the number of people served per day?

In [48]:
Avg_people = ([Order[i].index for i in range(d)])
Avg_people

[Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
             ...
             167, 168, 169, 170, 171, 172, 173, 174, 175, 176],
            dtype='int64', name='No.', length=177),
 Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
             ...
             159, 160, 161, 162, 163, 164, 165, 166, 167, 168],
            dtype='int64', name='No.', length=169),
 Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
             ...
             156, 157, 158, 159, 160, 161, 162, 163, 164, 165],
            dtype='int64', name='No.', length=166),
 Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
             ...
             173, 174, 175, 176, 177, 178, 179, 180, 181, 182],
            dtype='int64', name='No.', length=183),
 Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
             ...
             162, 163, 164, 165, 166, 167, 168, 169, 170, 171],
            dtype='int64', name='No.', length=172)]

##### 4. What was the average service time?

In [49]:
Women_time = np.mean([Order[i][Order[i]['Gender']==1]['Total_Time'].mean() for i in range(d)])
Men_time = np.mean([Order[i][Order[i]['Gender']==0]['Total_Time'].mean() for i in range(d)])
print('The average care time for women was:',Women_time.round(2),'s. ','Men avg was:', Men_time.round(2), 's.',)

The average care time for women was: 196.15 s.  Men avg was: 98.22 s.

##### 5. How much was the average profit of the cafeteria in 5 days of work and its respective profitability?

In [50]:
dia_mujer = ([Order[i][Order[i]['Gender']==1]['Expenses'].sum() for i in range(d)])
dia_hombre = ([Order[i][Order[i]['Gender']==0]['Expenses'].sum() for i in range(d)])
#dia_women,dia_men
print('The profit from the cafeteria was:',((np.sum(women_days)+np.sum(men_days))*.60))

The profit from the cafeteria was: 29227.41256181495